
<div class="container">
<h2 class="align-middle"><%= @phone.model %></h2>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <p class="align-middle"><%= @phone.brand %></p>
      <p class="align-middle"><%= @phone.state %></p>
      <p class="align-middle"><%= @phone.description %></p>
      <p class="align-middle"><%= @phone.user.username %></p>
    </div>
  </div>
</div>






