
<div class="container">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-model">
       <p><%= @phone.model %></p>
      </div>
      <div class="card-infos">
        <p class="align-middle">Marque du téléphone : <%= @phone.brand %></p>
        <p class="align-middle">Aspect du téléphone : <%= @phone.state %></p>
        <p class="align-middle"><%= @phone.user.username %></p>
        <p class="align-middle">description du produit : <%= @phone.description %></p>
      </div>
      <div class="prix-reservation-info">
        <p class= "prix">99,99€/mois</p>
      </div>
        <button type="button" class="btn btn-success"><%= link_to 'Valider le paiement', new_phone_booking_path(@phone) %></button>
  </div>
</div>






