<div class="container d-flex align-items-center", "text-right">
  <div class= "arrow btn btn-primary mt-3">
    <% @phone.id == @first_phones_id ? @previous = @last_phones_id : @previous = @previous_phone %>

    <%= link_to("<", @previous) %>
  </div>
  <div class="card-product">
    <div class="card-img">
      <% if @phone.photo.present? %>
        <%= cl_image_tag @phone.photo.key %>
      <% end %>
    </div>
    <div class="resume pt-4">
    <h2 class="desc p-3 mx-5 my-2"><%= @phone.model %></h2>
    <div class="desc p-3 mx-5 my-2">
      <p>Marque du téléphone : <%= @phone.brand %></p>
      <p>Aspect du téléphone : <%= @phone.state %></p>
      <p><%= @phone.user.username %></p>
      </div>
      <div class="desc p-3 mx-5 my-2">
      <p> description du produit : <%= @phone.description %></p>
      </div>
      <div class="desc p-3 mx-5 my-2 text-right">
      <p>99,99€/mois</p>
      </div>
   <!--  <div class="ouho">
    <button class="text-black btn btn-primary mt-3"><%= link_to 'Valider le paiement', new_phone_booking_path(@phone)%></button>
    </div> -->
     <%= link_to 'Valider le paiement', new_phone_booking_path(@phone), class: "ouho btn btn-primary mt-3"  %>
    </div>

  </div>
  <div class= "arrow btn btn-primary mt-3">
  <% @phone.id == @last_phones_id ? @next = @first_phones_id : @next = @next_phone %>

  <%= link_to(">", @next)%>
  </div>
</div>






