<h1 class="container mt-4">Mes réservation</h1>
<div class="reservation container border mt-4 p-3 rounded">
  <% @bookings.each do |booking| %>
    <%= link_to phone_booking_path(booking.phone.id, booking.id) do %>
      <h2> <strong> <%= booking.phone.brand %> - <%= booking.phone.model %></strong></h2>
      <h3 class="EDIT">
        <%= link_to "Modifier ma location", edit_booking_path(booking) %>
        <%= link_to "Annuler la location",
            booking,
            method: :delete,
            data: { confirm: "Etes vous sur de vouloir annuler la commande ? ( Si l'annulation ce fait après envoie du téléphone, vous serez quand meme facturé l'équivalent d'une journée de location)" } %>
      </h3>
    <% end %>
    <p> Vous avez réservé un <strong><%= booking.phone.model %></strong>  du <%= booking.start_booking %> au <%= booking.end_booking %>. </p>
  <% end %>
</div>
